body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.full-width{width:100%;}

.pagination-inline ul.pagination{display:inline;}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.clickable > td:hover {
    cursor:pointer;
}

/* Left align dt elements in bootstrap dl-horizontal lists*/
@media (min-width: 768px) {
    .dl-horizontal.left-align dt {
        text-align: left;
    }
}

span.glyphicon 
{
    margin-right:7px;
}

/* Stylish input (used for Search bar) */
.stylish-input-group .input-group-addon{
    background: white !important; 
    border-color:#ccc;/* For Bootswatch Theme */
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

