@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>My Record Collection</h3>

<p>
    This application was developed with the sole purpose of me learning ASP.NET MVC and Entity Framework.
</p>
<p>As the name suggests, this is an application for managing albums in a record collection.</p>
<p>The application includes:</p>

<div class="">
    <ul>
        <li>Data model created using <strong>Entity Framework Code First</strong></li>
        <li><strong data-toggle="tooltip" data-placement="top" title="CRUD stands for Create, Read, Update and Delete">CRUD functionality</strong> for two interconnected data entities (Artists and Albums)</li>
        <li>Use of <strong>View Models</strong></li>
        <li><strong>Sorting</strong> of lists</li>
        <li><strong>Filtering</strong> of lists</li>
        <li><strong>Pagination</strong> of lists</li>
        <li><strong>ASP.NET WebAPI</strong> + Consuming AJAX call to the API (using jQuery)</li>
        <li>Use of <strong data-toggle="tooltip" data-placement="top" title="DTO stands for Data Transfer Object">DTOs</strong> in API calls</li>
        <li><strong>Custom HTML helper</strong> method for displaying large text blocks in views</li>
        <li><strong>Responsive interface</strong> based on Bootstrap</li>
        <li>Use of <strong>ASP.NET Identity</strong> for Authentication/Authorization</li>
    </ul>
</div>
<br />
<p class="lead">/ John Kjellberg</p>
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">DEMO login</h3>
    </div>
    <div class="panel-body">
        <p><strong>Username:</strong> demo@demodummy.se</p>
        <p><strong>Password:</strong> Demo#123</p>
    </div>
</div>

@section scripts
{
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>        
}




